.caixao {
    width: 100%;
}

div {
    font-family: 'Encode Sans', sans-serif;
}

.barra-topo {
    height: 80px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.abas {

    font-family: 'Encode Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: -0.02em;
    justify-content: center;
    border-top: 1px solid #f5f6f7;
    border-bottom: 1px solid #f5f6f7;
    padding: 10px 0px;

    margin: auto;
}

.menu {
    display: flex;
    width: 1250px;
    justify-content: space-between;
}

.divisoria-horizontal {
    height: 1px;
    background-color: #EBEDEF;
    margin-top: 10px;
    margin-bottom: 20px;
}

.divisoria-vertical {
    width: 1px;
    background-color: #EBEDEF;
    margin: 0px 20px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;

}

.g1 {
    color: #C3170C;
}

.oglobo {
    color: #1E4B9B
}

.valor {
    color: #006766
}

.ge {
    color: #07AA47
}

.cartola {
    color: #FB0735
}

.globoplay {
    color: #FB0735
}

.dropz {
    color: #FF75BB;
}

.gshow {
    color: #EC7D00
}

.quem {
    color: #323333
}

.receitas {
    color: #A81D83
}

.tech {
    color: #666666;
}

.videos {
    color: #0769DE;
}

.noticias-container {
    display: flex;
    justify-content: center;
}

.noticias {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    width: 1250px;
    margin-top: 40px;

}

.esquerda {
    width: 60%;
}

.esquerda-superior {
    margin-bottom: 20px
}

.materia-principal {
    font-family: 'Encode Sans', sans-serif;
    font-size: 52px;
    color: #C4160C;
    width: 624px;
    height: 201px;
    font-weight: 700;
    line-height: 67px;
    letter-spacing: -0.01em;
    margin-bottom: 5px;
}

.materia-secundaria {
    font-family: 'Encode Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.01em;
    color: #303134;
    margin-bottom: 3px;

}

.esquerda-central {
    display: flex;
    justify-content: space-between;

}

.esquerda-inferior {

    display: flex;
    justify-content: space-between;


}

h2 {
    font-family: 'Encode Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.02em;
    color: #C4170C;
    width: 192px;
    margin: 10px 0px;
}

h1 {
    font-family: 'Encode Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: -0.045em;
    color: #2F3134;
    width: 192px;
    margin-bottom: 10px;
}

h3 {
    font-family: 'Encode Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: -0.048em;
    color: #2F3134;
    width: 192px;
    margin-bottom: 15px;

}


.esquerda-central img {
    width: 193px;
    height: 110px;
    border-radius: 12px;
}

.direita {
    background-color: white;
    width: 50%;

    display: flex;
    justify-content: space-between;

}

.direita-esquerda h2 {
    font-family: 'Encode Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.02em;
    color: #16AE54;
    width: 240px;
}


.direita h1 {
    font-family: 'Encode Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: -0.045em;
    color: #2F3134;
    width: 240px;
    margin-bottom: 10px;
}

.direita h3 {
    font-family: 'Encode Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: -0.048em;
    color: #2F3134;
    width: 240px;
    margin-bottom: 15px;
}

.direita img {
    width: 240px;
    height: 128px;
    border-radius: 12px;
}

.direita-direita h2 {
    font-family: 'Encode Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.02em;
    color: #EC8006;
    width: 240px;
    padding-left: 15pxx;
}

p {
    font-family: 'Encode Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.01em;

    color: #303134;
}

/*tela maior que 600px*/
@media only screen and (min-width: 600px) {

    .tech,
    .videos,
    .materia-principal-mobile,
    .noticias-mobile {
        display: none;
    }
}

/*tela menor que 600px*/
@media only screen and (max-width: 600px) {

    .oglobo,
    .cartola,
    .valor,
    .globoplay,
    .dropz,
    .quem,
    .receitas,
    .materia-principal,
    .direita,
    .esquerda,
    .divisoria-vertical,
    .noticias {
        display: none;
    }

    .menu {
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
    }

    .g1 {
        color: #A80001
    }

    .gshow {
        color: #FF7F00;
    }

    .menu {
        display: flex;
        justify-content: space-around;
    }

    .noticias-container {
        display: flex;
        justify-content: center;
        font-family: 'Open Sans', sans-serif;
        
    }
    .noticias-mobile{
        margin-right: 20px;
    }
    .materia-principal-mobile {
        background-color: white;
        color: #CD150B;
        font-family: 'Open Sans', sans-serif;
        font-size: 32px;
        width: 350px;
        height: 125px;
        font-weight: 700;
        line-height: 42px;        
        margin-bottom: 5px;
        
    }
    .materia-secundaria-mobile{
        background-color:white;
        color: #CD150B;
        font-family: 'Open Sans', sans-serif;
        font-size: 18px;
        width:350px;
        height: 58px;
        font-weight: bold;
        line-height: 24.51px;        
        margin-bottom: 5px;

    }
    .noticia-foto-mobile{
        display: flex;
        justify-content: space-around;

    }
    .noticia-foto-mobile img{
        height: 67.37px;
        width:120px;
        border-radius: 2.82px;
    }
    .noticia-foto-mobile h1{
        color: #CD150B;
        font-family: 'Open Sans', sans-serif;
        font-size: 18px;
        width:211px;
        height: 58px;
        font-weight: bold;
        line-height: 25px;       
    }
    .noticia-secundaria-foto-mobile h2{
        color: #CD150B;
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        width:344px;
        height: 26px;
        font-weight: 400;
        line-height: 19px; 
    }
    .noticia-mobile .noticia-foto-mobile h1{
        width: 342px;
        height: 60px;
        display: inline;
        margin: 0px 0px;
    }
    .noticia-mobile h2{
        width: 342px;
        height: 42px;
        display: inline;
        margin: 0px 0px;
        color: #CD150B;;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        font-size:15.5;
        line-height: 19px
    }

}