.caixao{
    width: 100%;
}
div {
    font-family: 'Encode Sans', sans-serif;
}

.barra-topo {
    height: 80px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.abas {

    font-family: 'Encode Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: -0.02em;
    justify-content: center;
    border-top: 1px solid #f5f6f7;
    border-bottom: 1px solid #f5f6f7;   
    padding: 10px 0px;
    
    margin:auto;
}
.menu{
    display: flex;
    width: 1250px;
    justify-content: space-between;
}
/*
.divisoria {
    height: 1px;
    background-color: #f5f6f7;
}

.divisoria-vertical {
    width: 1px;
    background-color: #f5f6f7;
}
*/
.g1 {
    color: #C3170C;
}

.oglobo {
    color: #1E4B9B
}

.valor {
    color: #006766
}

.ge {
    color: #07AA47
}

.cartola {
    color: #FB0735
}

.globoplay {
    color: #FB0735
}

.dropz {
    color: #FF75BB;
}

.gshow {
    color: #EC7D00
}

.quem {
    color: #323333
}

.receitas {
    color: #A81D83
}

.noticias {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    width: 1250px;
    margin:auto
}

.esquerda{
    width: 57%;
    padding-left: 15px; 
}
.materia-principal {
    font-family: 'Encode Sans', sans-serif;
    font-size: 52px;
    color: #C4160C;
    width: 624px;
    height: 201px;
    font-weight: 700;
    line-height: 67px;
    letter-spacing: -0.01em;
    margin-bottom: 5px;
}

.materia-secundaria {
    font-family: 'Encode Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.01em;
    color: #303134;
    margin-bottom: 3px;
}
.esquerda-superior {

    border-top: 1px solid #f5f6f7;
    padding-top: 15px;
    padding-right: 15px;
}
.esquerda-central {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #f5f6f7;
    padding-top: 15px;
    padding-right: 15px;
}
.esquerda-inferior {
    border-top: 1px solid #f5f6f7;
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
}

h2 {
    font-family: 'Encode Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.02em;
    color: #C4170C;
    width: 192px;
}


h1 {
    font-family: 'Encode Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: -0.045em;
    color: #2F3134;
    width: 192px;
    margin-bottom: 10px;
}

h3 {
    font-family: 'Encode Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: -0.048em;
    color: #2F3134;
    width: 192px;
    margin-bottom: 15px;
}


.esquerda-central img {
    width: 193px;
    height: 110px;
    border-radius: 12px;

}

.direita {
    background-color: white;
    width: 50%;
    border-left: 1px solid #f5f6f7;
    display: flex;
    justify-content: space-around;
    padding-top: 15px;
}
.direita-esquerda h2 {
    font-family: 'Encode Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.02em;
    color: #16AE54;
    width: 240px;
}


.direita h1 {
    font-family: 'Encode Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: -0.045em;
    color: #2F3134;
    width: 240px;
    margin-bottom: 10px;
}

.direita h3 {
    font-family: 'Encode Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: -0.048em;
    color: #2F3134;
    width: 240px;
    margin-bottom: 15px;
}
.direita img {
    width: 240px;
    height: 128px;
    border-radius: 12px;
}
.direita-direita h2 {
    font-family: 'Encode Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.02em;
    color: #EC8006;
    width: 240px;
}
p {
    font-family: 'Encode Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.01em;

    color: #303134;
}

